<!DOCTYPE html>
<html>
<head>
	<title>Tasty</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">

<link href="css/animate.css" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="css/themes/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/themes/light/light.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/themes/dark/dark.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/themes/bar/bar.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />

</head>

<body>




<header>
    <div class="headertop">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-0">
                   
                </div>
                <div class="col-lg-2 col-3">
                    <a href="#"><i class="fa fa-phone" aria-hidden="true"></i><%=userdata.phone%></a>
                </div>
                <div class="col-lg-3 col-6">
                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i><%=userdata.email%></a>
                </div>
                <div class="col-lg-2 col-3">
                     <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
   
             

    <div class="nav">
      <div class="container">
          <div class="row v-align">
              <div class="col-lg-3">
                  <a href="index.html"><img src="img/logo3.png" class="navbarimg"></a>
                  <img src="img/logo2.png" class="navimg">
              </div>
              <div class="col-lg-9">
                  <div id='cssmenu'>
                      <ul>
                       <li class='active'><a href='index.html'>Home</a></li>
                       <li><a href="about.html">About Us</a></li>
                       <li><a href="service.html">Services</a></li>
                       <li><a href="new.html">New Arrival</a></li>
                       <li><a href="product.html">Products</a></li>
                       <li><a href="bday.html">Birthday</a></li>
                       <li><a href="Contact.html">Contacts</a></li>
                       <li><a href="store.html">Store Locator</a></li>
                     </ul>
                 </div>
              </div>
          </div>
      </div>
    </div>
</header>